#!name = 王派医学
#!desc = 支持版本: 26.05.13

# 在用前先在 Surge 配置文件 [Script] 区域引用本 snippet, 并补 hostname:
# hostname = %APPEND% api-app.wangpaiyixue.cn, api-app-v2.wangpaiyixue.cn, api-eva.wangpaiyixue.cn

WPYX-Response = type=http-response, pattern=^https?:\/\/api-(app(-v2)?|eva)\.wangpaiyixue\.cn\/v\d+\/(common\/ac|goods\/(detail|lists|section_info)|video\/vid_token|lesson\/(details|lists)|(chapter|exam|paper|question|knowledge)\/), requires-body=1, max-size=-1, requires-original-body=1, timeout=20, script-path=https://raw.githubusercontent.com/ios151/wpyx/main/wpyx.js, argument=logLevel=info&worker=https://wpyx-unlock.lovebabyforever.workers.dev
